absl-py==0.11.0
argon2-cffi==20.1.0
asgiref==3.3.4
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
backcall==0.2.0
bleach==3.2.1
boto3==1.18.11
botocore==1.21.11
cached-property==1.5.2
cachetools==4.2.0
certifi==2020.11.8
chardet==3.0.4
cmake==3.18.2.post1
colorama==0.4.4
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.2
django-cors-headers==3.7.0
django-resized==0.3.11
django-storages==1.11.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.1
dlib==19.21.1
flatbuffers==1.12
flirextractor==1.0.2
gast==0.3.3
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
gunicorn==20.1.0
h5py==2.10.0
idna==2.10
imutils==0.5.3
iniconfig==1.1.1
jmespath==0.10.0
joblib==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
Markdown==3.3.3
matplotlib==3.3.3
numpy==1.19.5
oauthlib==3.1.0
packaging==20.4
Pillow==8.0.0
pluggy==0.13.1
protobuf==3.13.0
psycopg2==2.9.1
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.19
PyJWT==2.1.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.5.0
six==1.14.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.25.11
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.3.0
wincertstore==0.2
wrapt==1.12.1
